{% extends "base.html" %}

{% block title %}
    {{ bundle_name }}
{% endblock %}

{% block head %}

        <script type='text/javascript' src='/static/js/jquery.min.js'></script>

    <script type='text/javascript'>
        function hide_rows(name) {
            name = '.' + name;
            $(name).hide();
            return false;
        }
        function toggle_rows(name) {
            name = '.' + name;
            $(name).toggle();
            return false;
        }
        function open_in_new_window(id_name) {
            var w = window.open();
            var text = $("#" + id_name).text();
            if (! /\S/.test(text)) {
                text = 'Empty'
            }
            var html = '<textarea style="width:100%; height:100%">' + text + '</textarea>';
            $(w.document.body).html(html);
        }

    </script>


{% endblock %}


{% from "macros.html" import display_status_img with context %}

{% block bundle_title %}
    <div>
        <h2 class="align-center"> {{ bundle_name }} </h2>
        <span>
            Date: {{ results["date"] | replace('T', ' ')}}
        </span>
    </div>
{% endblock %}


{% block content %}

    <div class="row">

        <div class="six-col box no-border">
            <table class="last-result">


                {% for result in results['results'] %}
                    {% set rowloop = loop %}
                    <tr onclick="toggle_rows('t{{ rowloop.index }}');" class="result">
                        <td colspan="2" class="cloud-list">
                            <a href="javascript:;" title="{{ result['build_id'] }}">{{ result["provider_name"] }}</a>
                        </td>
                        <td colspan="2" class="cloud-list" id="total_time_{{ rowloop.index }}" >
                        </td>
                        <td class="cloud-list" >
                            <a href="javascript:;">
                                {{  display_status_img(result.get("test_outcome")) }}
                            </a>
                            <a href="javascript:;" >
                                <span class="more">&raquo;</span>
                            </a>
                        </td>
                    </tr>

                    {% set total_time = [] %}

                    {% for group in result['tests']|groupby('suite') %}

                        {%  if group.grouper %}
                            <tr class="t{{ rowloop.index }} hide-it suite-title">
                                <td colspan="5">
                                    {{ group.grouper }}
                                </td>
                            <tr>
                        {% endif %}

                        {% for test in group.list %}

                            {% if total_time.append(test.get('duration', 0)|float ) %} {% endif %}

                            <script>
                                $('#total_time_{{ rowloop.index }}').html({{ (total_time|sum|float / 60) | round}} + ' min');
                            </script>

                            <tr class="t{{ rowloop.index }} hide-it">
                                <td colspan="2" class="" onclick="open_in_new_window('log-{{ rowloop.index }}{{ loop.index }}')">
                                    <a href="javascript:;">
                                        {{ test["name"] }}
                                    </a>
                                </td>
                                <td colspan="2">
                                    {{ '%0.2f'% (test.get('duration', 0)|float / 60)}}
                                </td>
                                <td class="">
                                    {{ display_status_img(test["result"]) }}
                                </td>
                            </tr>
                            <tr class="output{{ rowloop.index }}{{ loop.index }} hide-it" id="log-{{ rowloop.index }}{{ loop.index }}">
                                <td colspan="5">
                                    <textarea cols="7" disabled>
                                        {{ test.get("output", "no output")|safe }}
                                    </textarea>
                                </td>
                            </tr>

                        {% endfor %}
                    {% endfor %}

                {% endfor %}

            </table>
        </div>

        <div class="six-col last-col box">
            <div class="align-center" style="text-align: center">
                {% if svg_path %}
                    <img src="{{ svg_path }}" class="svg-img"  alt="{{ bundle_name }}"/>
                {% else %}
                    Image not available
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve-col">
            <div id="chart-container" class="chart">
                <div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

