{% extends "base.html" %}

{% block title %}
    Result of recent tests
{% endblock %}

{% macro display_status_img(value, size='30px') -%}
    {% if value == 'PASS' or value == 'All Passed' %}
        <span class="test-result pass"></span>
    {% elif value == 'FAIL' or value == 'All Failed' %}
        <span class="test-result fail"></span>
    {% elif value == 'Some Failed' %}
        <span class="test-result fail"></span>
    {% else %}
        <span class="test-result no-result"></span>
    {% endif %}
{%- endmacro %}


{% block bundle_title %}
    <h2> {{ bundle_title }} </h2>
{% endblock %}


{% block content %}

    <div class="twelve-col">

        <table>
            <thead>
            <tr>
                <th></th>
                <th scope="col">Bundle</th>
                <th scope="col">Number of tests</th>
            </tr>
            </thead>

            {% for cwr_result in cwr_results %}
                <tr>
                    <td></td>
                    <td class="bundle-status">
                        {{ cwr_result['_id'] }}
                    </td>

                    <td>
                        <a href="{{ url_for('recent_by_bundle', bundle=cwr_result['_id']) }}">
                            {{ cwr_result['count'] }}
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </table>

        {{ display_pagination(pagination) }}

    </div>

{% endblock %}
