{% extends "base.html" %}

{% block title %}
    {{ bundle_name }}
{% endblock %}

{% block head %}

        <script type='text/javascript' src='/static/js/jquery.min.js'></script>
        <script type='text/javascript' src='/static/js/highcharts.js'></script>

        <script type="text/javascript">
        function hide_rows(name) {
            name = '.' + name;
            $(name).hide();
            return false;
        }
        function toggle_rows(name) {
            name = '.' + name;
            $(name).toggle();
            return false;
        }
        function display_chart(chart_data) {
            chart_data = JSON.parse(chart_data);
            h_charts = {
                chart: {
                    renderTo: 'containter',
                    borderLeftWidth: 1,
                    borderColor: '#eee',
                    backgroundColor: null,
                    color: '#333',
                    style: {
                        fontFamily: 'Ubuntu, Arial, "libra sans", sans-serif;'
                    }
                },

                title: {
                    text: 'Benchmark Results'
                },
                subtitle: {
                    text: chart_data['title']
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    title: {
                        text: chart_data['yaxis_title']
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: chart_data['yaxis_title']
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                credits: {
                    enabled: false
                },
                series: chart_data['series']
            };
            $('#chart-container').highcharts(h_charts);
        }
        function open_in_new_window(id_name) {
            var w = window.open();
            var text = $("#" + id_name).text();
            if (! /\S/.test(text)) {
                text = 'Empty'
            }
            var html = '<textarea style="width:100%; height:100%">' + text + '</textarea>';
            $(w.document.body).html(html);
        }

    </script>


{% endblock %}


{% macro display_status_img(value, size='30px') -%}
    {% if value == 'PASS' or value == 'All Passed' %}
        <span class="test-result pass"></span>
    {% elif value == 'FAIL' or value == 'All Failed' %}
        <span class="test-result fail"></span>
    {% elif value == 'Some Failed' %}
        <span class="test-result fail"></span>
    {% else %}
        <span class="test-result no-result"></span>
    {% endif %}
{%- endmacro %}


{% block bundle_title %}
    <div>
        <h2 class="align-center"> {{ bundle_name }} </h2>
        <span>
            Date: {{ results["date"]|humanize_date }}
        </span>
    </div>
{% endblock %}


{% block content %}

    <div class="row">

        <div class="six-col box no-border">
            <table class="last-result">

                {% for result in results['results'] %}
                    {% set rowloop = loop %}
                    <tr onclick="toggle_rows('t{{ rowloop.index }}');" class="result">
                        <td colspan="4" class="cloud-list">
                            <a href="javascript:;">{{ result["provider_name"] }}</a>
                        </td>
                        <td class="cloud-list">
                            <a href="javascript:;">
                                {{  display_status_img(result.get("test_outcome")) }}
                            </a>
                            <a href="javascript:;" >
                                <span class="more">&raquo;</span>
                            </a>
                        </td>
                    </tr>

                    {% for test in result['tests'] %}
                        <tr class="t{{ rowloop.index }} hide-it">
                            <td colspan="4" class="" onclick="open_in_new_window('log-{{ rowloop.index }}{{ loop.index }}')">
                                <a href="javascript:;">
                                    {{ test["name"] }}
                                </a>
                            </td>
                            <td class="">
                                {{ display_status_img(test["result"]) }}
                            </td>
                        </tr>
                        <tr class="output{{ rowloop.index }}{{ loop.index }} hide-it" id="log-{{ rowloop.index }}{{ loop.index }}">
                            <td colspan="5">
                                <textarea cols="7" disabled>
                                    {{ test.get("output", "no output")|safe }}
                                </textarea>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>

        <div class="six-col last-col box">
            <div class="align-center" style="text-align: center">
                {% if svg_path %}
                    <img src="{{ svg_path }}" class="svg-img"  alt="{{ bundle_name }}"/>
                {% else %}
                    Image not available
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve-col">
            <div id="chart-container" class="chart">
                <div>
                    <script type="text/javascript">
                        display_chart('{{ chart_data|safe }}')
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

