{% extends "base.html" %}

{% block title %}
    Result of recent tests
{% endblock %}

{% from "macros.html" import display_status_img with context %}

{% block bundle_title %}
    <h2> {{ bundle_title }} </h2>
{% endblock %}


{% block content %}

    <div class="twelve-col">

        <table>
            <thead>
            <tr>
                <th></th>
                <th scope="col">Bundle</th>
                <th scope="col">Number of tests</th>
            </tr>
            </thead>

            {% for cwr_result in cwr_results %}
                <tr>
                    <td></td>
                    <td class="bundle-status">
                        {{ cwr_result['_id'] }}
                    </td>

                    <td>
                        <a href="{{ url_for('recent_by_bundle', bundle=cwr_result['_id']) }}">
                            {{ cwr_result['count'] }}
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </table>

        {{ display_pagination(pagination) }}

    </div>

{% endblock %}
