{% extends "base.html" %}


{% macro display_status_img(value, size='30px') -%}
    {% if value == 'PASS' or value == 'All Passed' %}
        <span class="test-result pass"></span>
    {% elif value == 'FAIL' or value == 'All Failed' %}
        <span class="test-result fail"></span>
    {% elif value == 'Some Failed' %}
        <span class="test-result fail"></span>
    {% else %}
        <span class="test-result no-result"></span>
    {% endif %}
{%- endmacro %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
            <div class="row no-border box">
                <div class="twelve-col">
                    <table>
                        {% for cwr_result in cwr_results %}
                            <tr>
                                <td class="bundle-name">
                                    <a href="{{ url_for('recent_by_bundle', bundle=cwr_result['bundle_name']) }}">
                                        {{ cwr_result['bundle_name'] }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('bundle_view', key=cwr_result['_id']) }}">
                                        {{ cwr_result['test']['date'] | humanize_date }}
                                    </a>
                                </td>
                                <td class="bundle-status" onclick="window.location('{{ url_for('bundle_view', key=cwr_result['_id']) }}')"
>
                                    {% for outcome in cwr_result['test']['results'] %}
                                        <table class="outcome" onclick="window.location='{{ url_for('bundle_view', key=cwr_result['_id']) }}'">
                                            <tr>
                                                <td> {{ outcome.get("provider_name") }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ display_status_img(outcome.get("test_outcome")) }}</td>
                                            </tr>
                                        </table>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
{% endblock %}
